[default]
FileLogPath=logs
FileStorePath=store
ConnectionType=initiator
StartTime=00:00:00
EndTime=00:00:00
ValidateUnorderedGroupFields=N
ValidateIncomingMessage=N
AllowUnknownMsgFields=Y
UseDataDictionary=Y
DataDictionary=FIX44.xml
FileIncludeMilliseconds=Y
ScreenIncludeMilliseconds=Y
# MKD
[session]
BeginString=FIX.4.4
SenderCompID=KUROSHIO-PRICE-FEED
TargetCompID=BOSONIC
SessionQualifier=MarketMaker
ResetOnDisconnect=Y
ResetOnLogout=Y
SocketConnectHost=127.0.0.1
SocketConnectPort=14083
RefreshOnLogon=Y
HeartBtInt=30
ReconnectInterval=5